/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: goldenrod;
    display: flex;
    align-items: center;

    /* TEST */
    height: 50px;
}

  .header-menu{
      color: white;
      background-color: blue;
      width: 70%;
      margin: auto;
      display: flex;
      align-items: center;

      /* TEST  */
       height: 30px;
  }
  


            .logo{
                border: 1px dotted white;
                width: 20%;
                text-align: start;
                padding: 0 5px;


            }
            .link{
                border: 1px dotted white;
                width: 60%;
                text-align: center;
                padding: 0 5px;

            }
            .login{
                border: 1px dotted white;
                width: 20%;
                text-align: end;
                padding: 0 5px;

            }

            .jumbo-section{
                background-color: rgb(13, 168, 90);
                /* TEST */
                height: 250px;
        
                border: 1px solid black;
                display: flex;
                align-items: center;
            }

    section{
        background-color: rgb(211, 240, 225);
        /* TEST */
        height: 300px;

        border: 1px solid black;
        display: flex;
        align-items: center;
    }
       

         .section-container.jumbo{
            background-color: yellow;
            border: 1px dotted red;
            width: 35%;
            margin: auto;
            display: flex;
            }

            .section-container{
            background-color: yellow;
            border: 1px dotted red;
            width: 40%;
            margin: auto;
            display: flex;
                }     
            
            .jumbotron{
                width: 60%;
                align-items: center;
                /* TEST */
                height: 200px;

            }

            .colonna.azzurra{
                width: 60%;
                background-color: lightblue;
                /* TEST  */
                height: 250px;

            }

            .colonna.rosa{
                width: 40%;
                background-color: pink;
                /* TEST  */
                height: 250px;
            }

            .section-container.due{
                background-color:blueviolet;
                border: 1px dotted red;
                width: 40%;
                margin: auto;
                display: flex;
                flex-direction: row-reverse;
                ;
                    }            

                    section.due{
                        background-color:yellow;
                    }

        .rettangolo-grande{
            background-color: rgb(13, 168, 90);
            /* TEST */
            height: 400px;
    
            border: 1px solid black;
            display: flex;
            align-items: center;
        }
            
        .section-container.rettangolo{
            background-color: yellow;
            border: 1px dotted red;
            width: 40%;
            margin: auto;
            display: flex;
            }

            .grande{
                width: 60%;
                align-items: center;
                /* TEST */
                height: 350px;

            }