/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: goldenrod;
    display: flex;
    align-items: center;

    /* TEST */
    height: 50px;
}

  .header-menu{
      color: white;
      background-color: blue;
      width: 70%;
      margin: auto;
      display: flex;
      align-items: center;

      /* TEST  */
       height: 30px;
  }

SECTION{
    background-color: rgb(13, 168, 90);
    /* TEST */
    height: 300px;
    border: 1px solid black;
}
